.about {
  display: flex;
  flex-direction: column;
}

.aboutContainer {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin: 30px 20px;
}

.aboutHeadings {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.aboutHeadings div h3 {
  font-size: 3rem;
  margin: 0;
  animation: fadeIn 2s ease-in-out;
}

.aboutUs {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  gap: 20px;
}

.aboutUsContent {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.aboutUsText {
  font-size: x-large;
  margin: 0;
}

.aboutUsNumber {
  margin: 0;
}

@keyframes fadeIn {
  from {
    transform: translateY(3rem);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(2rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeInUp {
  animation: fadeInUp 3s ease-in-out;
}
