.artistCard {
  display: flex;
  flex-direction: column;
  background-color: #222222;
  align-items: center;
  border: 1px solid #292929;
  width: 90%;
  border-radius: 1rem;
  margin: 2rem auto 1rem auto;
}

.artistCardContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.5rem;
  width: 90%;
}

.imageCarousel {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.arrowIcon {
  color: #efefef;
  font-size: 2rem;
  background-color: transparent;
  cursor: pointer;
}

.artistImage {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 1rem;
  margin-bottom: 1.5rem;
  border: 0.5rem solid #292929;
  box-shadow: white 2;
}

.artistExperience {
  color: #efefef;
  margin: 0;
  font-weight: normal;
  width: 100%;
}

.jobTitle {
  margin: 0;
  font-weight: lighter;
  color: #efefef;
  margin-bottom: 1rem;
  width: 100%;
}

.socialHandle {
  margin: 0;
  font-weight: bold;
  width: 100%;
}

.arrowIcon:hover {
  transform: scale(1.05);
  opacity: 50%;
  transition: transform 0.5s, opacity 0.5;
}

@media (max-width: 329px) {
  .artistImage {
    height: 100px;
    width: 100px;
  }
}

@media (max-width: 329px) {
  .arrowIcon {
    font-size: 1.5rem;
  }
}
