.artistCard {
  display: flex;
  flex-direction: column;
  background-color: #efefef;
  border: 1px solid #d3d3d3;
  width: 95%;
  border-radius: 1rem;
  margin-bottom: 0.5rem;
}

.artistCardContent {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 1.5rem;
  width: 90%;
}

.artistImage {
  height: 75px;
  width: 75px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 1.5rem;
  filter: grayscale(1);
}

.artistExperience {
  margin: 0;
  font-weight: normal;
  width: 90%;
}

.jobTitle {
  margin: 0;
  font-weight: lighter;
  color: slategray;
  margin-bottom: 1rem;
  width: 90%;
}

.socialHandle {
  margin: 0;
  font-weight: bold;
  width: 90%;
}
